# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  name: 'AWS Linux'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'npm install'

- task: Npm@1
  inputs:
    command: 'custom'
    customCommand: 'run build'

- task: CopyPublishBuildArtifacts@1
  displayName: 'Copy Publish Artifact'
  inputs:  
    CopyRoot: /dist
    Contents: '**'
    ArtifactName: witryna-osobista
    ArtifactType: Container