<div class="nav">
    <div class="dots">
        <span class="dot red"></span>
        <span class="dot yellow"></span>
        <span class="dot green"></span>
    </div>
    <div class="nav-menu">
        <a href="#" class="nav-item">|
            <img src="../assets/images/home.png" class="image"> Home
        </a>
        <a href="#" class="nav-item">| 
            <img src="../assets/images/info.png" class="image"> About
        </a>
        <a href="#" class="nav-item">| 
            <img src="../assets/images/briefcase.png" class="image"> Portfolio
        </a>
        <a href="#" class="nav-item">| 
            <img src="../assets/images/email.png" class="image"> Contact
        </a>
    </div>

    <div class="switch-menu">
        <button class="switch-button">
            <img src="../assets/images/switch.png" class="switch-image">
        </button>
        
    </div>
</div>