.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
.dots {
    margin-left: 15px;
}
.mat-slide-toggle {
    margin: 8px 0;
    display: inline-block;
    padding: 1rem;
  }
::ng-deep .mat-slide-toggle{
    transform: translateX(1.5)
}
.dropdownMenu {
    padding: 1rem 2rem;
    gap: 5px;
}
.dot.green {
    background-color: #3FC83F;
}

.dot.red {
    background-color: #F35F57;
}

.dot.yellow {
    background-color: #F6BC2D;
}
.image{
    height: 0.85em;
}
.switch-image {
    height: 1em;
}

.nav-item {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    width: 100%;
    //height: 4.5%;
    background-color: #CECECE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px
}

.nav-menu {
    margin-left: 30px;
    display: inline-block;
}

.switch-menu {
    margin-left: auto;
    margin-right: 20px;
}

.switch-button {
    border: none;
    background-color: transparent;
}

.switch-button:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .dot {
        height: 10px;
        width: 10px;
    }
    .switch-image {
        height: .75em;
    }
    .nav-menu{
        margin-left: 5%;
    }
    .nav-item {
        font-size: 2vw;
    }
}