.container {
    margin-left: 30px;
    margin-right: 30px;
}

.title-text, .name-text {
    font-size: 96px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.title-text, .name-text, .stack-text, .location-text, .job-info-text {
    cursor: default;
}

.stack-text, .location-text, .job-info-text {
    font-size: 13px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.introduce {
    text-align:end;
    height: 534px;
    border: 1px solid black;
    margin-top: auto;
}
.name {
    margin-top: 270px;
    margin-right: 10px;
    text-align: right;
}

.image#devops-logo {
    height: 200px;
}
.links {
    margin-top: 50px;
}

.links .image{
    height: 58px;
}

.logo {
    margin-top: 50px;
    border: solid 1px yellow;
    text-align: center;
}

.title {
    margin-top: 50px;
    height: auto;
    border: solid 1px yellow;
}

.right-column, .left-column {
    width: 50%;
    border: solid 1px black;
}

.columns {
    display: flex;
    flex-direction: row;
}
