<div class="container">
    <div class="columns">
        <div class="left-column">
            {{test}}
            <div class="title">
                <span class="title-text">DEVOPS ENGINEER</span>
            </div>        
            <div class="stack">
                <span class="stack-text">C# ANGULAR AZURE DEVOPS WINDOWS LINUX</span> 
            </div>
            <div class="links">
                <a href="https://www.linkedin.com/in/mikolaj-samulak/" target="_blank" class="linkIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" id="linkedin-logo" class="icon icon-tabler icon-tabler-brand-linkedin image" width="100" height="100" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                        <line x1="8" y1="11" x2="8" y2="16"></line>
                        <line x1="8" y1="8" x2="8" y2="8.01"></line>
                        <line x1="12" y1="16" x2="12" y2="11"></line>
                        <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
                     </svg>
                </a>
                <a href="https://github.com/majki741" target="_blank" class="linkIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github image" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
                     </svg> 
                </a>
            </div>
            <div class="photo">
                <img src="../assets/images/photo.jpg" class="image" id="my-photo">
            </div>
        </div>
    
        <div class="right-column">
            <div class="logo">
                <img src="../assets/images/eternity.png" class="image" id="devops-logo">
            </div>
            <div class="introduce">
                <div class="name">
                    <span class="name-text">MIKOŁAJ SAMULAK</span>
                </div>
                <div class="job-info">
                    <span class="job-info-text">DEVOPS ENGINEER, VIENNA INSURANCE GROUP POLSKA Sp. z o.o.</span>
                </div>
                <div class="location">
                    <span class="location-text">WARSAW, POLAND</span>
                </div>
            </div>
        </div>
    </div>
</div>

