<div class="container">
    <div class="columns">
        <div class="left-column">
            <div class="title">
                <span class="title-text">DEVOPS ENGINEER</span>
            </div>        
            <div class="stack">
                <span class="stack-text">C# ANGULAR AZURE DEVOPS WINDOWS LINUX</span> 
            </div>
            <div class="links">
                <a href="https://www.linkedin.com/in/mikolaj-samulak/" target="_blank">
                    <img src="../assets/images/linkedin.png" class="image" id="linkedin-logo">
                </a>
                <a href="https://github.com/majki741" target="_blank">
                    <img src="../assets/images/github.png" class="image" id="github-logo">
                </a>
            </div>
            <div class="photo">
                <img src="../assets/images/photo.jpg" class="image" id="my-photo">
            </div>
        </div>
    
        <div class="right-column">
            <div class="logo">
                <img src="../assets/images/eternity.png" class="image" id="devops-logo">
            </div>
            <div class="introduce">
                <div class="name">
                    <span class="name-text">MIKOŁAJ SAMULAK</span>
                </div>
                <div class="job-info">
                    <span class="job-info-text">DEVOPS ENGINEER, VIENNA INSURANCE GROUP POLSKA Sp. z o.o.</span>
                </div>
                <div class="location">
                    <span class="location-text">WARSAW, POLAND</span>
                </div>
            </div>
        </div>
    </div>
</div>

