.container {
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    //border: 1px solid black;

}

.title-text, .name-text {
    font-size: 5vw;
    font-weight: 400;
    font-family: 'Roboto';
    letter-spacing: normal;
    line-height: 1;
}


.title-text, .name-text, .stack-text, .location-text, .job-info-text {
    cursor: default;
}

.stack-text, .location-text, .job-info-text {
    font-size: 1vw;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.introduce {
    text-align:end;
    height: 57%;
    //border: 1px solid black;
    margin-top: auto;
}
.name {
    padding-top: 30%;
    padding-right: 10px;
    text-align: right;
}

.image#devops-logo {
    height: 10vw;
    //border: solid 1px yellow;
}
.links {
    margin-top: 50px;
}

.links .image{
    height: 4vw;
}

.photo > .image {
    height: 15vw;
    width: 14vw;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
    margin-top: 50px;
    //border: solid 1px yellow;
    text-align: center;
}

.title {
    margin-top: 50px;
    height: auto;
    //border: solid 1px yellow;
}

.right-column, .left-column {
    width: 50%;
    height: 100%;
    //border: solid 1px violet;
}

.columns {
    display: flex;
    flex-direction: row;
    //border: solid 1px pink;
}

@media screen and (max-width: 768px) {

    .stack-text, .location-text, .job-info-text {
        font-size: 2vw;
        text-align: center;
    }
    .logo {
        margin-top: 10px;
    }
    .name, .introduce, .location {
        margin-top: 0;
        text-align: center;
    }
    .name {
        padding-top: 10px;
    }
    .title, .stack, .links {
        margin-top: 5%;
        text-align: center;
    }
    .photo{
        text-align: center;
        height: 200px;
        margin-bottom: 10px;
    }

    .photo > .image {
        //border: solid 1px black;
        
        height: 100%;
        width: auto;
    }

    .columns {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .right-column, .left-column {
        width: 100%;
        height: 100%;
    }

    .right-column{
        order: 1;
    }
    .left-column{
        order: 2;
    }

    .logo {
        visibility: hidden;
        height: 0;
        margin-top: 0;
    }

}