.columns {
    display: flex;
}

.left-column, .right-column {
    width: 50%;
}

.left-column {
    margin-left: 30px;
}

.form{
    display: flex;
}

.label{
    padding-top: 20px;
}


.right-form, .left-form {
    display:flex;
    flex-direction: column;
    padding: 10px;
}
