<div class="container">
    <div class="columns">
        <div class="left-column">
            <div class="form">
                <div class="left-form">
                    <div class="label"><h3>Name</h3></div>
                    <div class="label"><h3>Email</h3></div>
                    <div class="label"><h3>Message</h3></div>
                </div>
                <div class="right-form">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Message</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>     
            </div>
            <button mat-raised-button>Send</button>

        </div>
        <div class="right-column">

        </div>
    </div>
</div>