.container {
    position: relative;
    //border: solid 0.05em black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 70%;
    height: 80%;
    margin: auto;
    margin-top: 25px;
    background-color: #EBEBEB;

    //overflow-x: hidden;
}

.navbar {
    //position: absolute;
    width: 100%;
    //border: solid 1px yellow;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.app {
    //position: absolute;
    //padding-top: 30px;
    width: 100%;
    height: 93%;
    margin-top: 5px;
    //border: solid 1px green;
    overflow-y: scroll hidden;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        margin: 0;
        //height: fit-content;
    }

}