.thumbnail {
    max-width: 350px;
    padding-top: 30px;
    margin: auto;
}

.card-header{
    justify-content: center;
}
.thumbnail-card{
    text-align: center;
}


.portfolio-thumbnail {
    width: 85%;
    margin:auto;
}