.thumbnail {
    min-width: 350px;
    //padding-top: 30px;
    margin-top: 5%;
    //margin: auto;
    //border: solid 1px red;
}

.card-header{
    justify-content: center;
}
.thumbnail-card{
    text-align: center;
}


.portfolio-thumbnail {
    width: 85%;
    margin:auto;
}