<div class="container">
    <div class="columns">
        <div class="left-column">
            <div class="certs">
                <h2 class="c-timeline__title">Certyfikacje:</h2>
                <h3 class="c-timeline__title">Alteon Specialist Certification (RCAS-AL)</h3>
                <p class="c-timeline__desc">10.2020</p>
                <p>! Zmiana Testowa !</p>
            </div>
        </div>
        <div class="right-column">
            <div class="wrapper">
                <h2 class="c-timeline__title center">Historia:</h2>
                <ol class="c-timeline">
                  <li class="c-timeline__item">
                    <div class="c-timeline__content_right">
                        <h3 class="c-timeline__title">Młodszy Informatyk</h3>
                        <p class="c-timeline__desc">Windows 10, Windows Server, Active Directory, CCTV, HelpDesk</p>
                    </div>
                    <time>
                        <h3 class="c-timeline__title">WKU Warszawa-Mokotów</h3>
                        <p class="c-timeline__desc">08.2016 - 01.2018</p>
                    </time>
                  </li>
                  <li class="c-timeline__item">
                    <div class="c-timeline__content_right">
                      <h3 class="c-timeline__title">Inspektor</h3>
                      <p class="c-timeline__desc">Windows Server, Linux, Active Directory, Exchange Server, LAN, HelpDesk</p>
                      <p class="c-timeline__desc">PowerShell</p>
                    </div>
                    <time>
                        <h3 class="c-timeline__title">Ministerstwo Infrastruktury</h3>
                        <p class="c-timeline__desc">02.2018 - 07.2020</p>
                    </time>
                  </li>
                  <li class="c-timeline__item">
                    <div class="c-timeline__content_right">
                      <h3 class="c-timeline__title">Ekspert, Starszy Specjalista, Główny Specjalista</h3>
                      <p class="c-timeline__desc">Windows Server, Active Directory, Exchange Server, Hyper-V, Azure</p>
                      <p class="c-timeline__desc">PowerShell, Python, SQL</p>
                    </div>
                    <time>
                        <h3 class="c-timeline__title">Generalna Dyrekcja Dróg Krajowych i Autostrad</h3>
                        <p class="c-timeline__desc">08.2020 - 02.2022</p>
                    </time>
                  </li>
                  <li class="c-timeline__item">
                    <div class="c-timeline__content_right">
                      <h3 class="c-timeline__title">Administrator Aplikacji / DevOps</h3>
                      <p class="c-timeline__desc">Windows Server, Azure DevOps, IIS, MS SQL Server, ELK, C#, Angular</p>
                      <p class="c-timeline__desc">PowerShell, Python, SQL</p>
                    </div>
                    <time>
                        <h3 class="c-timeline__title">Vienna Insurance Group Polska</h3>
                        <p class="c-timeline__desc">03.2022 - obecnie</p>
                    </time>
                  </li>
                  <div class="c-line"></div>
                </ol>
              </div>
        </div>
    </div>
</div>
